.supplier {
  details {
    summary {
      color: unset
    }
  }
}

.list-container {
  -moz-columns: 3;
  -webkit-columns: 3;
  columns: 3;
}

.contact {
  p {
    margin-bottom: 8px;
  }
}

.other-suppliers-list {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;

    &:before {
      content: ' ';
      display: inline-block;
      background-color: #d5281b;
      mask-image: url('/cross.svg');
      width: 34px;
      height: 34px;
    }
  }
}
